header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

header img {
    height: 19px;
    padding: 30px 50px 30px 0;
}

nav {
    display: flex;
    align-items: flex-end;
    height: 35px;
}

nav a {
    display: block;
    line-height: 33px;
}

nav a:first-child{
    margin-right: 68px;
}

.nav-active {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}